
.idea/

common/target/

dao/target/

service/target/

web/target/
######################################################################
# Build Tools

.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

target/
!.mvn/wrapper/maven-wrapper.jar

######################################################################
# IDE

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

######################################################################
# Others

*.log
*.xml.versionsBackup
*.swp

